{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>Zdarzenia sceniczne</h1>

    <h3>Sterowanie urządzeniem:</h3>
   <table>
    <tr>
        <th>Urządzenie</th>
        <th>Adres</th>
        <th>Polecenie 1</th>
        <th>Polecenie 2</th>
        <th>Polecenie 3</th>
    </tr>
    <tr>
        <td>Sygnalizator 1</td>
        <td>192.168.1.51</td>
        <td><form action="/" method="POST">
            <input type="submit" value="Gotowy?" name="gotowy"></form>
        <td><form action="/" method="POST">
            <input type="submit" value="Akcja!" name="akcja"></form>
        </form></td>
        <td></td>
    </tr>
   </table>
   <table>
    <tr>
        <th>Urządzenie</th>
        <th>Adres</th>
        <th>Polecenie 1</th>
        <th>Polecenie 2</th>
    </tr>
    {% for row in client_data.values() %}
        <tr>
          <td>{{ row['name'] }}</td>
          <td>{{ row['IP'] }}</td>
          {% if row['type'] == 'sygnalizator' %}
          <td><form action="/" method="POST">
            <input type="submit" value="Gotowy?" name="gotowy"></form>
        <td><form action="/" method="POST">
            <input type="submit" value="Akcja!" name="akcja"></form>
          {% endif %}
        </tr>
    {% endfor %}
    </table>
    <form action="/newclient" method="POST">
        <input type="submit" value="Dodaj nowego klienta" name="Dodaj nowego klienta"></form>
{% endblock %}
