body {
    background: gray;
    color: whitesmoke;
 }

table, td, th {
    border: 2pt solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

p {
    color:blue;  
    } 

.ip input{
    float: center;
    width: 20px;
    flex-direction: row;
    display: flex;
}
.ip {
    float: center;
    flex-direction: row;
    display: flex;
}
.form {
    margin-top: 20pt;
    flex-direction: row;
    float: center;
    display: flex;
}