body {
    background: gray;
    color: whitesmoke;
 }
table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}
.ip input{
    float:left;
    width: 20px;
    flex-direction: row;
    display: flex;
}
.ip {
    float: left;
    flex-direction: row;
    display: flex;
}
.form {
    margin-top: 20pt;
    flex-direction: row;
    display: flex;
}