{% extends 'base.html' %}
{% block head %}
<title>{{ title }}</title>
{% endblock %}
{% block body %}
<h1>Zdarzenia sceniczne</h1>
<h3>Sterowanie urządzeniem:</h3>
<table>
  <tr>
    <th>ID</th><th>Urządzenie</th><th>Adres</th><th>Polecenie 1</th><th>Polecenie 2</th>
  </tr>
  {% for row in client_data.values() %}
  <tr>
    <td>{{ row['ID'] }}</td>
    <td>{{ row['name'] }}</td>
    <td>{{ row['IP'] }}</td>
    {% if row['type'] == 'Sygnalizator' %}
    <td>
      <form action="/gotowy?ip={{ row['IP'] }}" method="POST">
        <input type="submit" value="Gotowy?" name="gotowy">
      </form>
    </td>
    <td>
      <form action="/akcja?ip={{ row['IP'] }}" method="POST">
        <input type="submit" value="Akcja!" name="akcja">
      </form>
    </td>
    {% endif %}
    {% if row['type'] == 'Przekazniki' %}
    <td>
      <form action="/gotowy?ip={{ row['IP'] }}" method="POST">
        <input type="submit" value="Gotowy?" name="gotowy">
      </form><br>
      Załącz
      {% for i in range(1, 7) %}
      <form action="/zalacz?ip={{ row['IP'] }}&relay={{ i }}" method="POST">
        <input type="submit" value="{{ i }}" name="{{ i }}">
      </form>
      {% endfor %}
    </td>
    <td>
      <form action="/akcja?ip={{ row['IP'] }}" method="POST">
        <input type="submit" value="Akcja!" name="akcja">
      </form><br>
      Wyłącz
      {% for i in range(1, 7) %}
      <form action="/wylacz?ip={{ row['IP'] }}" method="POST">
        <input type="submit" value="{{ i }}" name="{{ i }}">
      </form>
      {% endfor %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
<br>
<form action="/newclient" method="POST">
  <input type="submit" value="Dodaj lub skasuj klienta" name="dodaj lub skasuj klienta">
</form>
{% endblock %}